@import '~react-responsive-carousel/lib/styles/carousel.min.css';
a {
    color: #9d9d9d;
}

a:hover {
    color: #000000 !important;
}

.navbarPadding {
    padding: 0.5rem 1rem;
}

.background-color-light-blue {
    background-color: #ADD8E6
}

.rotate {
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
}

.rotate.down {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.hidden { display: none;}

.carousel-style {
    margin: auto;
    max-width: 65%;
}

ul.tree, ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.tree ul {
    margin-left: 10px;
}
ul.tree li {
    margin: 0;
    padding: 0 7px;
    line-height: 20px;
    color: #6c757d;
    border-left:1px solid rgb(100,100,100);

}
ul.tree li:last-child {
    border-left:none;
}
ul.tree li:before {
    position:relative;
    top:-0.3em;
    height:1em;
    width:12px;
    color:white;
    border-bottom:1px solid rgb(100,100,100);
    content:"";
    display:inline-block;
    left:-7px;
}
ul.tree li:last-child:before {
    border-left:1px solid rgb(100,100,100);
}