a {
    color: #9d9d9d;
}

a:hover {
    color: #ffffff !important;
}

.navbarPadding {
    padding: 0.5rem 1rem;
}

.todoInfoContainer {
    border: 1px solid black;
    white-space: pre-line;
    margin-top: 1%;
    padding: 1% 1% 1% 1%;
}

.todoTextArea {
    resize: none;
    width: 100%;
    height: 100%;
}

.tweetInfoContainer {
    background: aliceblue;
    white-space: pre-line;
    padding: 1% 1% 1% 1%;
    margin-bottom: 5px;
}

.background-color-light-blue {
    background-color: #ADD8E6
}

